html {
  text-align: center;
}

.intro_banner {
  background-image: image();
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.list {
  font-family: Helvetica;
  font-size: 18px
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weigh: bold;
}

.cloudy_background {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image:"the-flat-iron-building.png";
}

.footer {
  background-color: dimgray;
}
